body {
    padding: 0px;
    margin: 0px;
}

.Img_Home {
    border-radius: 0px 0px 100px 100px;
    height:90vh;
    width: 100%;
}


.Nav {
    list-style: none;
    display: flex;
    justify-content: center;
    font-family: Century Gothic;
}

.Nav li {
    padding-top: 1vh;
    margin-right: 16vh;
}

.Content {
    margin: 80px;
    padding: 20px;
}